* {
  margin: 0;
  padding: 0; }

header img {
  width: 104px;
  height: 74px; }

header {
  display: flex;
  background-color: #1F1F1F;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    background-color: #1F1F1F;
    display: block;
    height: 36px;
    text-align: center; }
  header nav ul {
    display: flex;
    text-align: left;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    list-style: none; }
  header nav li {
    margin-left: 5px;
    margin-right: 5px; }

main h3 {
  background-color: #AE0A0A;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: underline;
  color: black; }

main p {
  padding: 20px;
  text-align: center;
  font-size: large;
  font-family: 'raleway'; }

main img {
  width: 382px;
  height: 243px;
  margin: 5px 480px; }

footer ol {
  background-color: #AE0A0A;
  margin: 5px 0px 5px 0px; }
  footer ol a {
    color: khaki; }
